In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
xy = pd.read_csv("tutorial.csv")

In [3]:
xy

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [4]:
xy.col0.loc[:2]

0   -0.722876
1    1.160396
2   -1.062870
Name: col0, dtype: float64

In [16]:
xy[0:2]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722